spring:
  application:
   name: gateway-server
#  cloud:
#    gateway:
#      server:
#        webflux:
#          routes:
#            - id: FOOD-SERVICE
#              uri: "lb://FOOD-SERVICE"
#              predicates:
#                - Path=/foods/**
##              filters:
##                - RewritePath=/foods/?(?<remaining>.*) , /$\{remaining}
#            - id: restaurant-service
#              uri: lb://RESTAURANT-SERVICE
#              predicates:
#                - Path=/restaurants/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

server:
  port: 9095

management:
  endpoint:
    gateway:
      access: read_only
  endpoints:
    web:
      exposure:
        include: "*"
  info:
    env:
      enabled: false

info:
  app:
    name: gateway-server
    description: "this is api gateway for common entry point"
    version: "1.0V"
