spring:
  profiles:
    active: prod
  application:
    name: food-service
  config:
    import: "configserver:http://localhost:9096/"

  rabbitmq:
    host: localhost
    port: 5672
    password: guest
    username: guest