spring:
  profiles:
    active: default
  application:
    name: restaurant-service
  config:
    import: "configserver:http://localhost:9096/"

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

